<footer>
    <div class="container">
        <div class="col-md-4">
            <h2 class="footer-heading">{{ site.title }}</h2>
            <ul class="list-unstyled">
                <li>湘ICP备15014380号-3</li>
                <li>&copy; 403studio 2016 by 懒得糊涂@403工作室</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2 class="footer-heading">联系我们</h2>
            <ul class="list-unstyled">
                <li><i>联系时请写明备注</i></li>
                <li><i class="fa fa-wechat"></i> huanghao1235</li>
                <li><i class="fa fa-github"></i> https://github.com/403studio</li>
                <li><i class="fa fa-at"></i> hao.huang<i class="fa fa-at"></i>aliyun.com</li>
                <li><i class="fa fa-qq"></i> 1479394675</li>
            </ul>
        </div>
        <div class="col-md-5">
            <h2 class="footer-heading">关于我们</h2>
            <p class="text-muted">{{ site.description }}</p>
        </div>
    </div>
</footer>
