<header>
    <nav class="navbar navbar-default">
        <div class="navbar-header col-md-3">
            <a class="navbar-brand" href="http://www.403studio.com">403 工作室</a>
        </div>
        <div class="collapse navbar-collapse align-right">
            <ul class="nav navbar-nav">
                <li {% if page.navid == 'home' %}class="active"{% endif %}><a title="首页" href="http://www.403studio.com">Home</a></li>
                <li {% if page.navid == 'blog' %}class="active"{% endif %}><a title="博客" href="http://blog.403studio.com">Blog</a></li>
                <li><a title="文档" href="http://docs.403studio.com">Docs</a></li>
            </ul>
        </div>
    </nav>
</header>
