<header>
    <nav class="navbar navbar-default">
        <div class="navbar-header col-md-3">
            <a class="navbar-brand" href="http://www.403sutdio.com">403 工作室</a>
        </div>
        <div class="collapse navbar-collapse align-right">
            <ul class="nav navbar-nav">
                <li><a href="http://www.403sutdio.com">Home</a></li>
                <li class="active"><a href="http://blog.403studio.com">Blog</a></li>
                <li><a href="http://docs.403studio.com">Docs</a></li>
            </ul>
        </div>
    </nav>
</header>
