{% for section in site.data.nav_project %}
	{% if page.project == section.project %}
		<div class="nav-docs-section">
			<h3>{{ section.title }}</h3>
			<ul>
				{% if section.type == "page" %}
					{% for item in section.items %}
						<li>
							<a href="/{{ section.project }}/{{ item.link }}">
								<span {% if page.link == item.link %} class="text-success" {% endif %}>{{ item.title }}</span>
							</a>
						</li>
					{% endfor %}
				{% else %}
					{% for item in section.items %}
						<li>
							<a href="{{ item.link | prepend: site.baseurl }}">
								<span>{{ item.title }}</span>
							</a>
						</li>
					{% endfor %}
				{% endif %}
			</ul>
		</div>
	{% endif %}
{% endfor %}