#article-post article {
	position: relative;
}
#article-post article .article-meta {
	position: absolute;
	right: 0;
}
#article-post .fa-book a {
	display: inline-block;
	background-color: rgb(186, 143, 108);
	color: #ffffff;
	border-radius: 5px;
	padding: 3px; 
}
#article-post article .article-flag a {
	display: inline-block;
	background-color: #449d44;
	color: #ffffff;
	border-radius: 5px;
	padding: 3px; 
	font-size: 10px;
}