---
layout: default
---
<div class="row">
    <div class="col-md-3">
        {% include nav_project.html %}
    </div>
    <div class="col-md-9">
        <article class="post col-md-12" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
                <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
                <p class="post-meta">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
                    {% if page.author %} <em>By:</em><author class="bg-danger">{{ page.author }}</author>{% endif %}
                    {% if page.tags %}
                        <em>标签:</em>
                        {% for tag in page.tags %}
                            <span class="bg-info">{{tag}}</span>
                        {% endfor %}
                    {% endif %}
                </p>
                {% if page.git %}
                    <p class="post-meta"><em>GitHub:</em><a href="{{ page.git }}" target="_blank">{{ page.git }}</a></p>
                {% endif %}
            </header>

            <div class="post-content" itemprop="articleBody">
                {{ content }}
              </div>
            <div class="comment-content">{% include disqus.html %}</div>
        </article>
    </div>
</div>
